<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand">관리자페이지</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"
            href="#"><i class="fas fa-bars"></i></button><!-- Navbar Search-->
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/">
                                로그인 페이지<div class="sb-nav-link-icon" style="padding-left: 15px;"><i
                                        class="fas fa-sign-in-alt"></i></div>
                            </a>
                            <div class="sb-sidenav-menu-heading">관리자</div>
                            <a class="nav-link" href="/admin">
                                <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                                사용자 개인정보
                            </a>
                            <a class="nav-link active" href="/adminReport">
                                <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                                사용자 신고정보
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">사용자 신고정보</h1>
                    <div class="row">
                        <div class="col-12" id="report">
                            <div class="card mb-4">
                                <div class="card-header"><i class="fas fa-table mr-1"></i>User Report Information</div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" height="10px"  cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th onclick="">UserName</th>
                                                    <th>PhoneNumber</th>
                                                    <th>Date</th>
                                                    <th>CarNumber</th>
                                                    <!--<th>ImageFilePath</th>-->
                                                </tr>
                                            </thead>
                                            <tbody id="tb">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div id="reportImage" class="col-12" style="text-align: center; width: 100%;">
                <h2 class="mt-4">사용자 신고 이미지</h2>
                    <img class="img-fluid" id="Image" style="border: solid 1px; max-height:30vh;">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>
<script>
    String.prototype.replaceAll = function (org, dest) {
        return this.split(org).join(dest);
    }
    window.onload = function () {
        $.ajax({
            type: 'GET',
            url: "/adminReport/get_reportList",
            success: function (data) {
                var data = JSON.parse(data)
                console.log(data);
                Table = "";
                $.each(data, async (i, as) => {
                    Table += "<tr onclick='showimage(\"" + as.imagename.replaceAll("\\", '/') + "\")'>"
                    $.each(as, async (i2, v) => {
                        if (i2 != "imagename") {
                            Table += "<td>" + v + "</td>"
                        }
                    })
                    Table += "</tr>"
                })
                $("#tb").append(Table);

                $('#dataTable').DataTable({
                    scrollY: '200px',
                    "scrollX": true
                });
            }
        })
    }
    function showimage(src) {
        console.log(src);
        $("#Image").attr("src", src)
    }
</script>

</html>